<a href="https://colab.research.google.com/github/penguinboy2829/Elective1-2/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# APPLICATION 1

In [15]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=a)

True
False
False

In [24]:
#Arithmetic Operators

print(10+9)
print(10-9)
print(10*9)
print(10/5)
print(10**2)

19
1
90
2.0
100

In [26]:
#Python Bitwise Operators

print(60 & 13)
print(60 | 13)
print(60 ^ 13)
print(~60)

12
61
49
-61
61
49

PYTHON ASSIGNMENT OPERATORS

In [35]:
x = 6
x //= 3
print(x)

2

In [ ]:
#Logical Operators